@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  color:#FFFFFF;
}

html, body{
    background-color: #E7ECEF;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}
body{
  padding: 0px;
  margin: 0px;
}
.section{
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  padding: 50px;
}
.nav-items > a > img{
  max-width: 300px;
}
.nav-items > a > img{
  margin: 20px;
}
.nav-items > a > img:hover{
  transform: scale(1.1);
}
* {  
    text-rendering: optimizeSpeed;  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav {
  display: flex;
  padding: 5px 0px 5px 0px;
  background-color: rgb(51, 51, 51);
  width: 100%;  
  justify-content: flex-end; 
  z-index: 3;
}

.section{
  color: black;
}

.icon {
  margin-right: 5px;
  font-size: 2.5rem;
}

.nav-parent {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-items {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.596);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  list-style: none;
  transform: translateY(-100%);
  transition: all 0.6s;
  z-index: 2;
}

.nav-items.active {
  transform: translateY(0px);
}

/* Add a grey background color on mouse-over */
nav .icon:hover {
    color: rgb(194, 188, 188);
    cursor: pointer;
}

.nav-parent ul a {
  transition: all 0.6s;
}

.nav-parent ul a:not(:last-child) {
  margin-bottom: 20px;
}

.nav-parent ul a:hover {
  font-size: 2.3rem;
}

.all-con{
  padding: 0;
  height: 900px;
}

.nav-links {
  display: flex;
  flex-direction: column;
}

.nav-items > a > img{
  height: 50px;
  margin: 7px;
  display: none;
}


@media (min-width: 700px){
    .nav-items {
      transform: translateY(0px);
      height: fit-content;
      flex-direction: row;    }   
    .nav-parent ul a:not(:last-child) {
      margin-bottom: 0px;
    } 
    nav {
      display: none;
    }  

    .nav-items{
      justify-content: space-between;
    }

    .nav-items > a > img{
      display: initial;
      margin-left: 100px;
    }
    
    .nav-links {
      flex-direction: row;
      justify-content: space-between;
      width: 50%;
      margin-right: 100px;
    }


}
.introduction{
  display: grid;
  grid-template-columns: 30% 1fr 1fr 20%;
  height: 500px;
  background-color: rgb(207, 206, 186);
  padding-top: 40px;
  margin-top: 72px;
}
.introduction h1{
  grid-column: 2;
}
.introduction p{
  grid-column: 2;
}
.introduction img{
  max-width: 300px;
  grid-column: 3;
}
.us{
  padding-top: 60px;
  text-align: center;
  color: black;
  padding-bottom: 60px;
}
.personel{
  padding-top: 30px;
  align-content: center;
  background-color: #CFCEBA;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}
.personel .p1{
  grid-column: 2;
}
.personel .p2{
  grid-column: 3;
}
.personel img{
  max-width: 200px;
}